body {
	margin: 40px auto;
	max-width: 800px;
	line-height: 1.6;
	font-size: 18px;
	font-family: Open Sans, Arial;
	color: #444;
	padding: 0 10px;
	background-color: #fafafa;
}

h1,
h2,
h3 {
	line-height: 1.2
}

input[type="file"] {
	display: none;
}

.custom-file-upload, .custom-file-download {
	text-align: center;
	border: double #fafafa;
	background-color: #444;
	border-radius: 5px;
	display: inline-block;
	padding: 6px 12px;
	width: 45%;
	align-items: center;
	cursor: pointer;
	color: #fafafa;
	font-family: sans-serif;
}
.uselessdonationbutton {
	font-size: 16px;
	text-align: center;
	border: double #fafafa;
	background-color: #444;
	border-radius: 5px;
	display: inline-block;
	padding: 4px 12px;
	align-items: center;
	cursor: pointer;
	color: #fafafa;
	font-family: sans-serif;
}

[active|="false"] {
  background-color: #bbb;
  pointer-events: none;
}

.linklist {
  user-select: contain;
}

a {
	color: hotpink;
}

div.file-container {
	margin: auto;
}

p.endpage {
	font-style: italic;
	font-size: 16px;
}

code {
	padding: .2em .4em;
	margin: 0;
	font-size: 85%;
	background-color: rgba(27, 31, 35, .05);
	border-radius: 6px;
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}

pre.linklist{
	background-color: #f0f0f0;
	user-select: contain;
	overflow-x: auto;
	padding: 20px;
}
